<a href="https://colab.research.google.com/github/Jeongyoon-Jang/covid19_data_analysis/blob/main/%EA%B2%B0%EC%B8%A1%EC%B9%98(2019).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/data2019.csv", encoding='utf-8-sig')
data1

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2019         1  1000001  ...       상권확장         88.0         57.0
1        2019         1  1000002  ...       상권축소        116.0         47.0
2        2019         1  1000003  ...         정체        113.0         56.0
3        2019         1  1000004  ...       상권확장         88.0         57.0
4        2019         1  1000005  ...       다이나믹         85.0         51.0
...       ...       ...      ...  ...        ...          ...          ...
4486     2019         3  1001495  ...       다이나믹        101.0         53.0
4487     2019         3  1001496  ...         정체        116.0         61.0
4488     2019         3  1001494  ...         정체        150.0         71.0
4489     2019         2  1001494  ...         정체        148.0         71.0
4490     2019         1  1001494  ...         정체        147.0         70.0

[4491 rows x 17 columns]

In [ ]:
# 결측값을 0으로 대체

In [ ]:
data1['집객시설_수'] = data1['집객시설_수'].fillna(0)
data1

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2019         1  1000001  ...       상권확장         88.0         57.0
1        2019         1  1000002  ...       상권축소        116.0         47.0
2        2019         1  1000003  ...         정체        113.0         56.0
3        2019         1  1000004  ...       상권확장         88.0         57.0
4        2019         1  1000005  ...       다이나믹         85.0         51.0
...       ...       ...      ...  ...        ...          ...          ...
4486     2019         3  1001495  ...       다이나믹        101.0         53.0
4487     2019         3  1001496  ...         정체        116.0         61.0
4488     2019         3  1001494  ...         정체        150.0         71.0
4489     2019         2  1001494  ...         정체        148.0         71.0
4490     2019         1  1001494  ...         정체        147.0         70.0

[4491 rows x 17 columns]

In [ ]:
data1['총_직장_인구_수'] = data1['총_직장_인구_수'].fillna(0)
data1

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2019         1  1000001  ...       상권확장         88.0         57.0
1        2019         1  1000002  ...       상권축소        116.0         47.0
2        2019         1  1000003  ...         정체        113.0         56.0
3        2019         1  1000004  ...       상권확장         88.0         57.0
4        2019         1  1000005  ...       다이나믹         85.0         51.0
...       ...       ...      ...  ...        ...          ...          ...
4486     2019         3  1001495  ...       다이나믹        101.0         53.0
4487     2019         3  1001496  ...         정체        116.0         61.0
4488     2019         3  1001494  ...         정체        150.0         71.0
4489     2019         2  1001494  ...         정체        148.0         71.0
4490     2019         1  1001494  ...         정체        147.0         70.0

[4491 rows x 17 columns]

In [ ]:
data1['아파트_단지_수'] = data1['아파트_단지_수'].fillna(0)
data1

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2019         1  1000001  ...       상권확장         88.0         57.0
1        2019         1  1000002  ...       상권축소        116.0         47.0
2        2019         1  1000003  ...         정체        113.0         56.0
3        2019         1  1000004  ...       상권확장         88.0         57.0
4        2019         1  1000005  ...       다이나믹         85.0         51.0
...       ...       ...      ...  ...        ...          ...          ...
4486     2019         3  1001495  ...       다이나믹        101.0         53.0
4487     2019         3  1001496  ...         정체        116.0         61.0
4488     2019         3  1001494  ...         정체        150.0         71.0
4489     2019         2  1001494  ...         정체        148.0         71.0
4490     2019         1  1001494  ...         정체        147.0         70.0

[4491 rows x 17 columns]

In [ ]:
data1.isnull().sum()

기준_년_코드         0
기준_분기_코드        0
상권_코드           0
상권_코드_명         0
점포_수            3
개업_점포_수         3
폐업_점포_수         3
당월_매출_금액       33
당월_매출_건수       33
총_유동인구_수        6
집객시설_수          0
총_직장_인구_수       0
아파트_단지_수        0
상권_변화_지표        3
상권_변화_지표_명      3
운영_영업_개월_평균     3
폐업_영업_개월_평균     3
dtype: int64

In [ ]:
data1.dropna(inplace=True)
data1

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2019         1  1000001  ...       상권확장         88.0         57.0
1        2019         1  1000002  ...       상권축소        116.0         47.0
2        2019         1  1000003  ...         정체        113.0         56.0
3        2019         1  1000004  ...       상권확장         88.0         57.0
4        2019         1  1000005  ...       다이나믹         85.0         51.0
...       ...       ...      ...  ...        ...          ...          ...
4482     2019         3  1001491  ...         정체        117.0         59.0
4483     2019         3  1001492  ...         정체        145.0         62.0
4484     2019         3  1001493  ...         정체        122.0         61.0
4486     2019         3  1001495  ...       다이나믹        101.0         53.0
4487     2019         3  1001496  ...         정체        116.0         61.0

[4455 rows x 17 columns]

In [ ]:
data1 = data1.set_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])
data1

                                                    점포_수  ...  폐업_영업_개월_평균
기준_년_코드 기준_분기_코드 상권_코드   상권_코드_명                          ...
2019    1        1000001 계동길                       217.0  ...         57.0
                 1000002 난계로27길                    116.0  ...         47.0
                 1000003 돈화문로11가길                  301.0  ...         56.0
                 1000004 명륜길                        82.0  ...         57.0
                 1000005 백석동길                       62.0  ...         51.0
...                                                  ...  ...          ...
        3        1001491 이태원 관광특구                 1698.0  ...         59.0
                 1001492 명동 남대문 북창동 다동 무교동 관광특구   8598.0  ...         62.0
                 1001493 동대문패션타운 관광특구            12927.0  ...         61.0
                 1001495 잠실 관광특구                  2162.0  ...         53.0
                 1001496 강남 마이스 관광특구               859.0  ...         61.0

[4455 rows x 13 columns]

In [ ]:
# 완성된 데이터 저장

In [ ]:
data1.to_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/data2019_1.csv")