<a href="https://colab.research.google.com/github/Jeongyoon-Jang/covid19_data_analysis/blob/main/%EA%B2%B0%EC%B8%A1%EC%B9%98(2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data2 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/data2020.csv", encoding="utf-8-sig")

In [ ]:
data2

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2020         3  1001496  ...         정체          123           63
1        2020         3  1001495  ...       다이나믹          106           53
2        2020         3  1001494  ...         정체          150           72
3        2020         3  1001493  ...         정체          126           62
4        2020         3  1001492  ...         정체          152           63
...       ...       ...      ...  ...        ...          ...          ...
4483     2020         1  1000002  ...       상권축소          116           48
4484     2020         1  1000001  ...       상권확장           97           56
4485     2020         1  1001278  ...         정체          116           94
4486     2020         2  1001278  ...         정체          119           94
4487     2020         3  1001278  ...         정체          122           94

[4488 rows x 17 columns]

In [ ]:
# 결측값을 0으로 대체

In [ ]:
data2['집객시설_수'] = data2['집객시설_수'].fillna(0)

In [ ]:
data2

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2020         3  1001496  ...         정체          123           63
1        2020         3  1001495  ...       다이나믹          106           53
2        2020         3  1001494  ...         정체          150           72
3        2020         3  1001493  ...         정체          126           62
4        2020         3  1001492  ...         정체          152           63
...       ...       ...      ...  ...        ...          ...          ...
4483     2020         1  1000002  ...       상권축소          116           48
4484     2020         1  1000001  ...       상권확장           97           56
4485     2020         1  1001278  ...         정체          116           94
4486     2020         2  1001278  ...         정체          119           94
4487     2020         3  1001278  ...         정체          122           94

[4488 rows x 17 columns]

In [ ]:
data2['아파트_단지_수'] = data2['아파트_단지_수'].fillna(0)

In [ ]:
data2['총_직장_인구_수'] = data2['총_직장_인구_수'].fillna(0)

In [ ]:
data2

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2020         3  1001496  ...         정체          123           63
1        2020         3  1001495  ...       다이나믹          106           53
2        2020         3  1001494  ...         정체          150           72
3        2020         3  1001493  ...         정체          126           62
4        2020         3  1001492  ...         정체          152           63
...       ...       ...      ...  ...        ...          ...          ...
4483     2020         1  1000002  ...       상권축소          116           48
4484     2020         1  1000001  ...       상권확장           97           56
4485     2020         1  1001278  ...         정체          116           94
4486     2020         2  1001278  ...         정체          119           94
4487     2020         3  1001278  ...         정체          122           94

[4488 rows x 17 columns]

In [ ]:
data2.isnull().sum()

기준_년_코드         0
기준_분기_코드        0
상권_코드           0
상권_코드_명         0
총_유동인구_수        3
당월_매출_금액       33
당월_매출_건수       33
점포_수            0
개업_점포_수         0
폐업_점포_수         0
집객시설_수          0
총_직장_인구_수       0
아파트_단지_수        0
상권_변화_지표        0
상권_변화_지표_명      0
운영_영업_개월_평균     0
폐업_영업_개월_평균     0
dtype: int64

In [ ]:
data2.dropna(inplace=True)

In [ ]:
data2

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2020         3  1001496  ...         정체          123           63
1        2020         3  1001495  ...       다이나믹          106           53
2        2020         3  1001494  ...         정체          150           72
3        2020         3  1001493  ...         정체          126           62
4        2020         3  1001492  ...         정체          152           63
...       ...       ...      ...  ...        ...          ...          ...
4480     2020         1  1000005  ...       다이나믹           90           50
4481     2020         1  1000004  ...       상권확장           81           56
4482     2020         1  1000003  ...         정체          113           60
4483     2020         1  1000002  ...       상권축소          116           48
4484     2020         1  1000001  ...       상권확장           97           56

[4455 rows x 17 columns]

In [ ]:
data2 = data2.set_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])
data2

                                                  총_유동인구_수  ...  폐업_영업_개월_평균
기준_년_코드 기준_분기_코드 상권_코드   상권_코드_명                            ...
2020    3        1001496 강남 마이스 관광특구               97662.0  ...           63
                 1001495 잠실 관광특구                 2998786.0  ...           53
                 1001494 종로?청계 관광특구              3815342.0  ...           72
                 1001493 동대문패션타운 관광특구            3023573.0  ...           62
                 1001492 명동 남대문 북창동 다동 무교동 관광특구  3679541.0  ...           63
...                                                    ...  ...          ...
        1        1000005 백석동길                     178717.0  ...           50
                 1000004 명륜길                      623119.0  ...           56
                 1000003 돈화문로11가길                 178244.0  ...           60
                 1000002 난계로27길                   347131.0  ...           48
                 1000001 계동길                      336343.0  ...           56

[4455 rows x 13 columns]

In [ ]:
# 완성된 데이터 저장

In [ ]:
data2.to_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/data2020_1.csv")