<a href="https://colab.research.google.com/github/Jeongyoon-Jang/covid19_data_analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC(2019).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# 데이터 불러와서 필요한 변수 뽑기, 2020년은 3분기까지의 데이터가 있으므로, 2019년도 3분기까지의 데이터만 사용.

In [ ]:
doc1_1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/서울시_우리마을가게_상권분석서비스(상권-점포)_2019년.csv", encoding='CP949')
doc1_1

        기준_년_코드  기준_분기_코드 상권_구분_코드  ... 폐업_률  폐업_점포_수 프랜차이즈_점포_수
0          2019         1        R  ...    0        0          0
1          2019         1        A  ...    0        0          0
2          2019         1        A  ...    0        0          0
3          2019         1        A  ...    0        0          0
4          2019         1        A  ...    0        0          0
...         ...       ...      ...  ...  ...      ...        ...
365025     2019         4        A  ...    0        0          0
365026     2019         4        A  ...    0        0          0
365027     2019         4        A  ...    0        0          0
365028     2019         4        A  ...    0        0          0
365029     2019         4        A  ...    0        0          0

[365030 rows x 15 columns]

In [ ]:
doc1_0 = doc1_1[['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명','점포_수','개업_점포_수','폐업_점포_수']]
doc1_0

        기준_년_코드  기준_분기_코드    상권_코드  상권_코드_명  점포_수  개업_점포_수  폐업_점포_수
0          2019         1  1001284   서울중앙시장     0        0        0
1          2019         1  1000372   방학로6가길     1        0        0
2          2019         1  1000842      원신길     2        0        0
3          2019         1  1000282    성북로8길     1        0        0
4          2019         1  1000401   연서로16길     3        0        0
...         ...       ...      ...      ...   ...      ...      ...
365025     2019         4  1000853   동광로12길     0        0        0
365026     2019         4  1000731  영등포로84길     0        0        0
365027     2019         4  1000901   논현로28길     0        0        0
365028     2019         4  1000855   동광로39길     0        0        0
365029     2019         4  1000878      주흥길     0        0        0

[365030 rows x 7 columns]

In [ ]:
is_4 = doc1_0['기준_분기_코드'] != 4
doc1 = doc1_0[is_4]
doc1

        기준_년_코드  기준_분기_코드    상권_코드         상권_코드_명  점포_수  개업_점포_수  폐업_점포_수
0          2019         1  1001284          서울중앙시장     0        0        0
1          2019         1  1000372          방학로6가길     1        0        0
2          2019         1  1000842             원신길     2        0        0
3          2019         1  1000282           성북로8길     1        0        0
4          2019         1  1000401          연서로16길     3        0        0
...         ...       ...      ...             ...   ...      ...      ...
273449     2019         3  1001216  서울 종로구 종로3가역_1     0        0        0
273450     2019         3  1001213      종각역 젊음의 거리     0        0        0
273451     2019         3  1001272          신설종합시장     0        0        0
273452     2019         3  1000206          제기로21길     1        0        0
273453     2019         3  1001225            신설동역     0        0        0

[273454 rows x 7 columns]

In [ ]:
doc1_2 = doc1.groupby(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명']).sum()
doc1_2

                                                  점포_수  개업_점포_수  폐업_점포_수
기준_년_코드 기준_분기_코드 상권_코드   상권_코드_명
2019    1        1000001 계동길                       217        4        4
                 1000002 난계로27길                    116        2        9
                 1000003 돈화문로11가길                  301        7        8
                 1000004 명륜길                        82        2        3
                 1000005 백석동길                       62        1        5
...                                                ...      ...      ...
        3        1001492 명동 남대문 북창동 다동 무교동 관광특구   8598      158      236
                 1001493 동대문패션타운 관광특구            12927      123      474
                 1001494 종로·청계 관광특구               5503       91      158
                 1001495 잠실 관광특구                  2162       51       86
                 1001496 강남 마이스 관광특구               859        7       17

[4488 rows x 3 columns]

In [ ]:
doc1_2 = doc1_2.reset_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])
doc1_2

      기준_년_코드  기준_분기_코드    상권_코드  ...   점포_수  개업_점포_수  폐업_점포_수
0        2019         1  1000001  ...    217        4        4
1        2019         1  1000002  ...    116        2        9
2        2019         1  1000003  ...    301        7        8
3        2019         1  1000004  ...     82        2        3
4        2019         1  1000005  ...     62        1        5
...       ...       ...      ...  ...    ...      ...      ...
4483     2019         3  1001492  ...   8598      158      236
4484     2019         3  1001493  ...  12927      123      474
4485     2019         3  1001494  ...   5503       91      158
4486     2019         3  1001495  ...   2162       51       86
4487     2019         3  1001496  ...    859        7       17

[4488 rows x 7 columns]

In [ ]:
doc2_1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2019.csv", encoding='CP949')
doc2_1

        기준_년_코드  기준_분기_코드 상권_구분_코드  ... 연령대_50_매출_건수  연령대_60_이상_매출_건수 점포수
0          2019         1        A  ...            0                0   3
1          2019         1        A  ...            4                8   1
2          2019         1        R  ...            0                0   2
3          2019         1        A  ...            0                5   1
4          2019         1        A  ...           53                0   3
...         ...       ...      ...  ...          ...              ...  ..
135573     2019         4        R  ...            0                0   2
135574     2019         4        A  ...         3474             1319   2
135575     2019         4        A  ...        12869             5596   2
135576     2019         4        D  ...            0                0   6
135577     2019         4        A  ...         5590             1857   2

[135578 rows x 80 columns]

In [ ]:
doc2_0 = doc2_1[['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명','당월_매출_금액','당월_매출_건수']]
doc2_0

        기준_년_코드  기준_분기_코드    상권_코드 상권_코드_명   당월_매출_금액  당월_매출_건수
0          2019         1  1000985     암사길   20061598       125
1          2019         1  1000267  돌곶이로8길     510636        21
2          2019         1  1001445    영도시장    4038928        33
3          2019         1  1000789  난곡로24길    5085873        10
4          2019         1  1000930  언주로81길     527027        53
...         ...       ...      ...     ...        ...       ...
135573     2019         4  1001469    양재시장   14282341        48
135574     2019         4  1000181  망우로21길  562291801     23923
135575     2019         4  1000441   세무서2길  518371562     81848
135576     2019         4  1001044   양재역_3   15509601        56
135577     2019         4  1000736  노량진로6길  218997663     32143

[135578 rows x 6 columns]

In [ ]:
is_4 = doc2_0['기준_분기_코드'] != 4
doc2 = doc2_0[is_4]
doc2

        기준_년_코드  기준_분기_코드    상권_코드  상권_코드_명    당월_매출_금액  당월_매출_건수
0          2019         1  1000985      암사길    20061598       125
1          2019         1  1000267   돌곶이로8길      510636        21
2          2019         1  1001445     영도시장     4038928        33
3          2019         1  1000789   난곡로24길     5085873        10
4          2019         1  1000930   언주로81길      527027        53
...         ...       ...      ...      ...         ...       ...
101825     2019         3  1000198   장한로26길    45374965       799
101826     2019         3  1000903    논현로8길    54000000        99
101827     2019         3  1000926  선릉로133길  3140915954      3983
101828     2019         3  1001090    삼정역_2  1039774591     10690
101829     2019         3  1001225     신설동역     9000000       165

[101830 rows x 6 columns]

In [ ]:
doc2_2 = doc2.groupby(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명']).sum()
doc2_2

                                                     당월_매출_금액  당월_매출_건수
기준_년_코드 기준_분기_코드 상권_코드   상권_코드_명
2019    1        1000001 계동길                       3373980252    247105
                 1000002 난계로27길                    5786105171    285188
                 1000003 돈화문로11가길                  8605367463    340821
                 1000004 명륜길                       2973229199    338724
                 1000005 백석동길                      2233832246     85510
...                                                       ...       ...
        3        1001492 명동 남대문 북창동 다동 무교동 관광특구  394781792776  17606158
                 1001493 동대문패션타운 관광특구            187109815177   6168312
                 1001494 종로·청계 관광특구              182043145252   7074287
                 1001495 잠실 관광특구                 163336318613   8752003
                 1001496 강남 마이스 관광특구             178673833204   5033855

[4458 rows x 2 columns]

In [ ]:
doc2_2 = doc2_2.reset_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])
doc2_2

      기준_년_코드  기준_분기_코드  ...      당월_매출_금액  당월_매출_건수
0        2019         1  ...    3373980252    247105
1        2019         1  ...    5786105171    285188
2        2019         1  ...    8605367463    340821
3        2019         1  ...    2973229199    338724
4        2019         1  ...    2233832246     85510
...       ...       ...  ...           ...       ...
4453     2019         3  ...  394781792776  17606158
4454     2019         3  ...  187109815177   6168312
4455     2019         3  ...  182043145252   7074287
4456     2019         3  ...  163336318613   8752003
4457     2019         3  ...  178673833204   5033855

[4458 rows x 6 columns]

In [ ]:
doc3_1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/서울시 우리마을가게 상권분석서비스(상권-추정유동인구).csv", encoding='CP949')
doc3_1.head()

   기준_년_코드  기준_분기_코드  ... 여성연령대_60_이상_일요일시간대_5_유동인구_수 여성연령대_60_이상_일요일시간대_6_유동인구_수
0     2020         3  ...                         106                          35
1     2020         3  ...                        6617                        3921
2     2020         3  ...                        6251                        4028
3     2020         3  ...                        4932                        4310
4     2020         3  ...                        3106                        1144

[5 rows x 532 columns]

In [ ]:
is_2019 = doc3_1['기준_년_코드'] == 2019
doc3 = doc3_1[is_2019]
doc3

       기준_년_코드  ...  여성연령대_60_이상_일요일시간대_6_유동인구_수
4485      2019  ...                           53
4486      2019  ...                         4591
4487      2019  ...                         5090
4488      2019  ...                         6167
4489      2019  ...                         1942
...        ...  ...                          ...
10460     2019  ...                          567
10461     2019  ...                         1589
10462     2019  ...                          270
10463     2019  ...                          671
10464     2019  ...                          648

[5980 rows x 532 columns]

In [ ]:
doc3_0 = doc3[['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명','총_유동인구_수']]
doc3_0

       기준_년_코드  기준_분기_코드    상권_코드                 상권_코드_명  총_유동인구_수
4485      2019         4  1001496             강남 마이스 관광특구    130493
4486      2019         4  1001495                 잠실 관광특구   3225556
4487      2019         4  1001494              종로?청계 관광특구   4917960
4488      2019         4  1001493            동대문패션타운 관광특구   3875197
4489      2019         4  1001492  명동 남대문 북창동 다동 무교동 관광특구   5278508
...        ...       ...      ...                     ...       ...
10460     2019         1  1000005                    백석동길    162091
10461     2019         1  1000004                     명륜길    751866
10462     2019         1  1000003                돈화문로11가길    262249
10463     2019         1  1000002                  난계로27길    393683
10464     2019         1  1000001                     계동길    380891

[5980 rows x 5 columns]

In [ ]:
is_4 = doc3_0['기준_분기_코드'] != 4
doc3 = doc3_0[is_4]
doc3

       기준_년_코드  기준_분기_코드    상권_코드                 상권_코드_명  총_유동인구_수
5980      2019         3  1001496             강남 마이스 관광특구    125094
5981      2019         3  1001495                 잠실 관광특구   3180318
5982      2019         3  1001494              종로?청계 관광특구   4845870
5983      2019         3  1001493            동대문패션타운 관광특구   3665621
5984      2019         3  1001492  명동 남대문 북창동 다동 무교동 관광특구   5222669
...        ...       ...      ...                     ...       ...
10460     2019         1  1000005                    백석동길    162091
10461     2019         1  1000004                     명륜길    751866
10462     2019         1  1000003                돈화문로11가길    262249
10463     2019         1  1000002                  난계로27길    393683
10464     2019         1  1000001                     계동길    380891

[4485 rows x 5 columns]

In [ ]:
doc3 = doc3.set_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])
doc3

                                                 총_유동인구_수
기준_년_코드 기준_분기_코드 상권_코드   상권_코드_명
2019    3        1001496 강남 마이스 관광특구               125094
                 1001495 잠실 관광특구                  3180318
                 1001494 종로?청계 관광특구               4845870
                 1001493 동대문패션타운 관광특구             3665621
                 1001492 명동 남대문 북창동 다동 무교동 관광특구   5222669
...                                                   ...
        1        1000005 백석동길                      162091
                 1000004 명륜길                       751866
                 1000003 돈화문로11가길                  262249
                 1000002 난계로27길                    393683
                 1000001 계동길                       380891

[4485 rows x 1 columns]

In [ ]:
doc3 = doc3.reset_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])
doc3

      기준_년_코드  기준_분기_코드    상권_코드                 상권_코드_명  총_유동인구_수
0        2019         3  1001496             강남 마이스 관광특구    125094
1        2019         3  1001495                 잠실 관광특구   3180318
2        2019         3  1001494              종로?청계 관광특구   4845870
3        2019         3  1001493            동대문패션타운 관광특구   3665621
4        2019         3  1001492  명동 남대문 북창동 다동 무교동 관광특구   5222669
...       ...       ...      ...                     ...       ...
4480     2019         1  1000005                    백석동길    162091
4481     2019         1  1000004                     명륜길    751866
4482     2019         1  1000003                돈화문로11가길    262249
4483     2019         1  1000002                  난계로27길    393683
4484     2019         1  1000001                     계동길    380891

[4485 rows x 5 columns]

In [ ]:
doc4_1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/서울시 우리마을가게 상권분석서비스(상권-집객시설).csv", encoding='CP949')
doc4_1

       기준_년_코드  기준_분기_코드 상권_구분_코드  ... 버스_터미널_수  지하철_역_수 버스_정거장_수
0         2020         3        A  ...      NaN      NaN      NaN
1         2020         3        A  ...      NaN      NaN      3.0
2         2020         3        A  ...      NaN      NaN      5.0
3         2020         3        A  ...      NaN      NaN      8.0
4         2020         3        A  ...      NaN      NaN      NaN
...        ...       ...      ...  ...      ...      ...      ...
32951     2015         1        A  ...      NaN      NaN      2.0
32952     2015         1        A  ...      NaN      NaN      2.0
32953     2015         1        A  ...      NaN      NaN      3.0
32954     2015         1        A  ...      NaN      NaN      3.0
32955     2015         1        A  ...      NaN      NaN      4.0

[32956 rows x 26 columns]

In [ ]:
is_2019 = doc4_1['기준_년_코드'] == 2019
doc4 = doc4_1[is_2019]
doc4

       기준_년_코드  기준_분기_코드 상권_구분_코드  ... 버스_터미널_수  지하철_역_수 버스_정거장_수
4386      2019         4        A  ...      NaN      NaN      5.0
4387      2019         4        A  ...      NaN      NaN      NaN
4388      2019         4        A  ...      NaN      NaN     10.0
4389      2019         4        A  ...      NaN      NaN      1.0
4390      2019         4        A  ...      NaN      NaN      4.0
...        ...       ...      ...  ...      ...      ...      ...
10229     2019         1        U  ...      NaN      4.0     21.0
10230     2019         1        U  ...      NaN      5.0     39.0
10231     2019         1        U  ...      NaN      3.0     31.0
10232     2019         1        U  ...      NaN      NaN     14.0
10233     2019         1        A  ...      NaN      NaN      1.0

[5848 rows x 26 columns]

In [ ]:
is_4 = doc4['기준_분기_코드'] != 4
doc4_0 = doc4[is_4]
doc4_0

       기준_년_코드  기준_분기_코드 상권_구분_코드  ... 버스_터미널_수  지하철_역_수 버스_정거장_수
5848      2019         3        R  ...      NaN      NaN      1.0
5849      2019         3        R  ...      NaN      NaN      NaN
5850      2019         3        R  ...      NaN      NaN      1.0
5851      2019         3        R  ...      NaN      NaN      1.0
5852      2019         3        R  ...      NaN      NaN      2.0
...        ...       ...      ...  ...      ...      ...      ...
10229     2019         1        U  ...      NaN      4.0     21.0
10230     2019         1        U  ...      NaN      5.0     39.0
10231     2019         1        U  ...      NaN      3.0     31.0
10232     2019         1        U  ...      NaN      NaN     14.0
10233     2019         1        A  ...      NaN      NaN      1.0

[4386 rows x 26 columns]

In [ ]:
doc4_0 = doc4_0.set_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])

In [ ]:
doc4_0 = doc4_0.reset_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])
doc4_0

      기준_년_코드  기준_분기_코드    상권_코드  ... 버스_터미널_수 지하철_역_수 버스_정거장_수
0        2019         3  1001464  ...      NaN     NaN      1.0
1        2019         3  1001462  ...      NaN     NaN      NaN
2        2019         3  1001460  ...      NaN     NaN      1.0
3        2019         3  1001459  ...      NaN     NaN      1.0
4        2019         3  1001458  ...      NaN     NaN      2.0
...       ...       ...      ...  ...      ...     ...      ...
4381     2019         1  1001493  ...      NaN     4.0     21.0
4382     2019         1  1001494  ...      NaN     5.0     39.0
4383     2019         1  1001495  ...      NaN     3.0     31.0
4384     2019         1  1001496  ...      NaN     NaN     14.0
4385     2019         1  1000002  ...      NaN     NaN      1.0

[4386 rows x 26 columns]

In [ ]:
doc4_2 = doc4_0[['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명','집객시설_수']]
doc4_2

      기준_년_코드  기준_분기_코드    상권_코드       상권_코드_명  집객시설_수
0        2019         3  1001464         삼성동시장       2
1        2019         3  1001462        강남골목시장       1
2        2019         3  1001460        관악신사시장      13
3        2019         3  1001459          신원시장      10
4        2019         3  1001458          인헌시장      22
...       ...       ...      ...           ...     ...
4381     2019         1  1001493  동대문패션타운 관광특구     165
4382     2019         1  1001494    종로?청계 관광특구     327
4383     2019         1  1001495       잠실 관광특구     242
4384     2019         1  1001496   강남 마이스 관광특구      52
4385     2019         1  1000002        난계로27길       8

[4386 rows x 5 columns]

In [ ]:
doc5_1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/서울시 우리마을가게 상권분석서비스(상권-직장인구).csv", encoding='CP949')
doc5_1

       기준_년_코드  기준_분기_코드  ... 여성연령대_50_직장_인구_수 여성연령대_60_이상_직장_인구_수
0         2020         3  ...              350                  78
1         2020         3  ...             2217                1152
2         2020         3  ...             2243                 471
3         2020         3  ...              461                 265
4         2020         3  ...             4902                1516
...        ...       ...  ...              ...                 ...
35852     2014         2  ...                2                   0
35853     2014         2  ...                6                   6
35854     2014         2  ...                1                   0
35855     2014         2  ...               83                  52
35856     2014         2  ...               51                  12

[35857 rows x 27 columns]

In [ ]:
is_2019 = doc5_1['기준_년_코드'] == 2019
doc5 = doc5_1[is_2019]
doc5

       기준_년_코드  기준_분기_코드  ... 여성연령대_50_직장_인구_수 여성연령대_60_이상_직장_인구_수
4425      2019         4  ...              350                  78
4426      2019         4  ...             2217                1152
4427      2019         4  ...             2243                 471
4428      2019         4  ...              461                 265
4429      2019         4  ...             4902                1516
...        ...       ...  ...              ...                 ...
10373     2019         1  ...               49                  19
10374     2019         1  ...               10                   9
10375     2019         1  ...              161                  71
10376     2019         1  ...               53                  12
10377     2019         1  ...               36                  17

[5953 rows x 27 columns]

In [ ]:
is_4 = doc5['기준_분기_코드'] != 4
doc5_0 = doc5[is_4]
doc5_0

       기준_년_코드  기준_분기_코드  ... 여성연령대_50_직장_인구_수 여성연령대_60_이상_직장_인구_수
5900      2019         3  ...              446                  95
5901      2019         3  ...             1389                 619
5902      2019         3  ...             1099                 468
5903      2019         3  ...              465                 249
5904      2019         3  ...             6930                1637
...        ...       ...  ...              ...                 ...
10373     2019         1  ...               49                  19
10374     2019         1  ...               10                   9
10375     2019         1  ...              161                  71
10376     2019         1  ...               53                  12
10377     2019         1  ...               36                  17

[4478 rows x 27 columns]

In [ ]:
doc5_2 = doc5_0[['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명','총_직장_인구_수']]
doc5_2

       기준_년_코드  기준_분기_코드    상권_코드                 상권_코드_명  총_직장_인구_수
5900      2019         3  1001496             강남 마이스 관광특구      18430
5901      2019         3  1001495                 잠실 관광특구      26843
5902      2019         3  1001494              종로?청계 관광특구      24700
5903      2019         3  1001493            동대문패션타운 관광특구       6683
5904      2019         3  1001492  명동 남대문 북창동 다동 무교동 관광특구     133878
...        ...       ...      ...                     ...        ...
10373     2019         1  1000005                    백석동길       1080
10374     2019         1  1000004                     명륜길        104
10375     2019         1  1000003                돈화문로11가길       4822
10376     2019         1  1000002                  난계로27길        486
10377     2019         1  1000001                     계동길        348

[4478 rows x 5 columns]

In [ ]:
doc5_2 = doc5_2.set_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])

In [ ]:
doc5_2 = doc5_2.reset_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])
doc5_2

      기준_년_코드  기준_분기_코드    상권_코드                 상권_코드_명  총_직장_인구_수
0        2019         3  1001496             강남 마이스 관광특구      18430
1        2019         3  1001495                 잠실 관광특구      26843
2        2019         3  1001494              종로?청계 관광특구      24700
3        2019         3  1001493            동대문패션타운 관광특구       6683
4        2019         3  1001492  명동 남대문 북창동 다동 무교동 관광특구     133878
...       ...       ...      ...                     ...        ...
4473     2019         1  1000005                    백석동길       1080
4474     2019         1  1000004                     명륜길        104
4475     2019         1  1000003                돈화문로11가길       4822
4476     2019         1  1000002                  난계로27길        486
4477     2019         1  1000001                     계동길        348

[4478 rows x 5 columns]

In [ ]:
doc6_1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/서울시 우리마을가게 상권분석서비스(상권-아파트).csv", encoding='CP949')
doc6_1

       기준_년_코드  기준_분기_코드 상권_구분_코드  ... 아파트_가격_6_억_이상_세대_수  아파트_평균_면적  아파트_평균_시가
0         2020         3        U  ...             1156.0         89  527347107
1         2020         2        U  ...             1156.0         89  527347107
2         2020         1        U  ...             1156.0         89  527347107
3         2020         3        U  ...                NaN         39  112097903
4         2020         2        U  ...                NaN         39  112097903
...        ...       ...      ...  ...                ...        ...        ...
34606     2014         3        A  ...                NaN         18   84110417
34607     2014         2        A  ...                NaN         18   84110417
34608     2014         4        A  ...               15.0         69  178270767
34609     2014         3        A  ...               15.0         69  178270767
34610     2014         2        A  ...               15.0         69  178270767

[34611 rows x 21 columns]

In [ ]:
is_2019 = doc6_1['기준_년_코드'] == 2019
doc6 = doc6_1[is_2019]
doc6

      기준_년_코드  기준_분기_코드 상권_구분_코드  ... 아파트_가격_6_억_이상_세대_수  아파트_평균_면적  아파트_평균_시가
4029     2019         4        U  ...             1886.0         88  431622104
4030     2019         3        U  ...             1886.0         88  431622104
4031     2019         2        U  ...             1886.0         88  431622104
4032     2019         1        U  ...             1886.0         88  431622104
4033     2019         4        U  ...                NaN         39  103667956
...       ...       ...      ...  ...                ...        ...        ...
9312     2019         1        A  ...                NaN         14   87069281
9313     2019         4        A  ...               30.0         75  249484517
9314     2019         3        A  ...               30.0         75  249484517
9315     2019         2        A  ...               30.0         75  249484517
9316     2019         1        A  ...               30.0         75  249484517

[5288 rows x 21 columns]

In [ ]:
is_4 = doc6['기준_분기_코드'] != 4
doc6_0 = doc6[is_4]
doc6_0

      기준_년_코드  기준_분기_코드 상권_구분_코드  ... 아파트_가격_6_억_이상_세대_수  아파트_평균_면적  아파트_평균_시가
4030     2019         3        U  ...             1886.0         88  431622104
4031     2019         2        U  ...             1886.0         88  431622104
4032     2019         1        U  ...             1886.0         88  431622104
4034     2019         3        U  ...                NaN         39  103667956
4035     2019         2        U  ...                NaN         39  103667956
...       ...       ...      ...  ...                ...        ...        ...
9311     2019         2        A  ...                NaN         14   87069281
9312     2019         1        A  ...                NaN         14   87069281
9314     2019         3        A  ...               30.0         75  249484517
9315     2019         2        A  ...               30.0         75  249484517
9316     2019         1        A  ...               30.0         75  249484517

[3966 rows x 21 columns]

In [ ]:
doc6_2 = doc6_0[['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명','아파트_단지_수']]
doc6_2

      기준_년_코드  기준_분기_코드    상권_코드     상권_코드_명  아파트_단지_수
4030     2019         3  1001495     잠실 관광특구        20
4031     2019         2  1001495     잠실 관광특구        20
4032     2019         1  1001495     잠실 관광특구        20
4034     2019         3  1001494  종로?청계 관광특구         8
4035     2019         2  1001494  종로?청계 관광특구         8
...       ...       ...      ...         ...       ...
9311     2019         2  1000002      난계로27길         3
9312     2019         1  1000002      난계로27길         3
9314     2019         3  1000001         계동길        29
9315     2019         2  1000001         계동길        29
9316     2019         1  1000001         계동길        29

[3966 rows x 5 columns]

In [ ]:
doc6_2 = doc6_2.set_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])

In [ ]:
doc6_2 = doc6_2.reset_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])

In [ ]:
doc7_1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/서울시 우리마을가게 상권분석서비스(상권-상권변화지표).csv", encoding='CP949')
doc7_1

       기준_년_코드  기준_분기_코드 상권_구분_코드  ... 폐업_영업_개월_평균  서울_운영_영업_개월_평균 서울_폐업_영업_개월_평균
0         2020         3        U  ...          63             113             54
1         2020         3        U  ...          53             113             54
2         2020         3        U  ...          72             113             54
3         2020         3        U  ...          62             113             54
4         2020         3        U  ...          63             113             54
...        ...       ...      ...  ...         ...             ...            ...
40387     2014         1        A  ...          44              91             44
40388     2014         1        A  ...          55              91             44
40389     2014         1        A  ...          46              91             44
40390     2014         1        A  ...          37              91             44
40391     2014         1        A  ...          53              91             44

[40392 rows x 12 columns]

In [ ]:
is_2019 = doc7_1['기준_년_코드'] == 2019
doc7 = doc7_1[is_2019]
doc7

       기준_년_코드  기준_분기_코드 상권_구분_코드  ... 폐업_영업_개월_평균  서울_운영_영업_개월_평균 서울_폐업_영업_개월_평균
4488      2019         4        U  ...          61             110             54
4489      2019         4        U  ...          53             110             54
4490      2019         4        U  ...          71             110             54
4491      2019         4        U  ...          61             110             54
4492      2019         4        U  ...          62             110             54
...        ...       ...      ...  ...         ...             ...            ...
10467     2019         1        A  ...          51             107             53
10468     2019         1        A  ...          57             107             53
10469     2019         1        A  ...          56             107             53
10470     2019         1        A  ...          47             107             53
10471     2019         1        A  ...          57             107             53

[5984 rows x 12 columns]

In [ ]:
is_4 = doc7['기준_분기_코드'] != 4
doc7_0 = doc7[is_4]
doc7_0

       기준_년_코드  기준_분기_코드 상권_구분_코드  ... 폐업_영업_개월_평균  서울_운영_영업_개월_평균 서울_폐업_영업_개월_평균
5984      2019         3        U  ...          61             109             53
5985      2019         3        U  ...          53             109             53
5986      2019         3        U  ...          71             109             53
5987      2019         3        U  ...          61             109             53
5988      2019         3        U  ...          62             109             53
...        ...       ...      ...  ...         ...             ...            ...
10467     2019         1        A  ...          51             107             53
10468     2019         1        A  ...          57             107             53
10469     2019         1        A  ...          56             107             53
10470     2019         1        A  ...          47             107             53
10471     2019         1        A  ...          57             107             53

[4488 rows x 12 columns]

In [ ]:
doc7_2 = doc7_0[['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명','상권_변화_지표','상권_변화_지표_명','운영_영업_개월_평균','폐업_영업_개월_평균']]
doc7_2

       기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명 운영_영업_개월_평균 폐업_영업_개월_평균
5984      2019         3  1001496  ...         정체         116          61
5985      2019         3  1001495  ...       다이나믹         101          53
5986      2019         3  1001494  ...         정체         150          71
5987      2019         3  1001493  ...         정체         122          61
5988      2019         3  1001492  ...         정체         145          62
...        ...       ...      ...  ...        ...         ...         ...
10467     2019         1  1000005  ...       다이나믹          85          51
10468     2019         1  1000004  ...       상권확장          88          57
10469     2019         1  1000003  ...         정체         113          56
10470     2019         1  1000002  ...       상권축소         116          47
10471     2019         1  1000001  ...       상권확장          88          57

[4488 rows x 8 columns]

In [ ]:
doc7_2 = doc7_2.set_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])

In [ ]:
doc7_2 = doc7_2.reset_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])

In [ ]:
# 뽑아낸 변수들을 하나의 데이터로 합치기

In [ ]:
new0_doc = pd.merge(doc1_2,doc2_2, on=['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'], how='outer')
new0_doc

      기준_년_코드  기준_분기_코드    상권_코드  ... 폐업_점포_수      당월_매출_금액    당월_매출_건수
0        2019         1  1000001  ...       4  3.373980e+09    247105.0
1        2019         1  1000002  ...       9  5.786105e+09    285188.0
2        2019         1  1000003  ...       8  8.605367e+09    340821.0
3        2019         1  1000004  ...       3  2.973229e+09    338724.0
4        2019         1  1000005  ...       5  2.233832e+09     85510.0
...       ...       ...      ...  ...     ...           ...         ...
4483     2019         3  1001492  ...     236  3.947818e+11  17606158.0
4484     2019         3  1001493  ...     474  1.871098e+11   6168312.0
4485     2019         3  1001494  ...     158  1.820431e+11   7074287.0
4486     2019         3  1001495  ...      86  1.633363e+11   8752003.0
4487     2019         3  1001496  ...      17  1.786738e+11   5033855.0

[4488 rows x 9 columns]

In [ ]:
new1_doc = pd.merge(new0_doc,doc3, on=['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'], how='outer')
new1_doc

      기준_년_코드  기준_분기_코드    상권_코드  ...      당월_매출_금액   당월_매출_건수   총_유동인구_수
0        2019         1  1000001  ...  3.373980e+09   247105.0   380891.0
1        2019         1  1000002  ...  5.786105e+09   285188.0   393683.0
2        2019         1  1000003  ...  8.605367e+09   340821.0   262249.0
3        2019         1  1000004  ...  2.973229e+09   338724.0   751866.0
4        2019         1  1000005  ...  2.233832e+09    85510.0   162091.0
...       ...       ...      ...  ...           ...        ...        ...
4486     2019         3  1001495  ...  1.633363e+11  8752003.0  3180318.0
4487     2019         3  1001496  ...  1.786738e+11  5033855.0   125094.0
4488     2019         3  1001494  ...           NaN        NaN  4845870.0
4489     2019         2  1001494  ...           NaN        NaN  5142922.0
4490     2019         1  1001494  ...           NaN        NaN  5157785.0

[4491 rows x 10 columns]

In [ ]:
new2_doc = pd.merge(doc4_2,doc5_2, on=['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'], how='outer')
new2_doc

      기준_년_코드  기준_분기_코드    상권_코드  상권_코드_명  집객시설_수  총_직장_인구_수
0        2019         3  1001464    삼성동시장     2.0       16.0
1        2019         3  1001462   강남골목시장     1.0      197.0
2        2019         3  1001460   관악신사시장    13.0      148.0
3        2019         3  1001459     신원시장    10.0       38.0
4        2019         3  1001458     인헌시장    22.0      131.0
...       ...       ...      ...      ...     ...        ...
4477     2019         1  1001305   자양종합시장     NaN       14.0
4478     2019         1  1001292  이태원제일시장     NaN       28.0
4479     2019         1  1001269     동문시장     NaN       33.0
4480     2019         1  1000868  사평대로57길     NaN      184.0
4481     2019         1  1000367    도봉산4길     NaN       70.0

[4482 rows x 6 columns]

In [ ]:
new3_doc = pd.merge(doc6_2,doc7_2, on=['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'], how='outer')
new3_doc

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균 폐업_영업_개월_평균
0        2019         3  1001495  ...       다이나믹          101          53
1        2019         2  1001495  ...       다이나믹           99          53
2        2019         1  1001495  ...       다이나믹           98          52
3        2019         3  1001494  ...         정체          150          71
4        2019         2  1001494  ...         정체          148          71
...       ...       ...      ...  ...        ...          ...         ...
4483     2019         1  1000040  ...         정체          160          58
4484     2019         1  1000039  ...         정체          152          62
4485     2019         1  1000017  ...         정체          173          70
4486     2019         1  1000014  ...         정체          149          60
4487     2019         1  1000013  ...       상권축소          111          53

[4488 rows x 9 columns]

In [ ]:
new11_doc = pd.merge(new2_doc,new3_doc, on=['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'], how='outer')
new11_doc

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2019         3  1001464  ...         정체          135           67
1        2019         3  1001462  ...       다이나믹          104           51
2        2019         3  1001460  ...       상권축소          111           52
3        2019         3  1001459  ...       상권축소          113           52
4        2019         3  1001458  ...       상권확장          105           54
...       ...       ...      ...  ...        ...          ...          ...
4483     2019         2  1001401  ...       상권축소          142           47
4484     2019         3  1001434  ...         정체          204          103
4485     2019         2  1001434  ...         정체          201          103
4486     2019         1  1001434  ...         정체          198          103
4487     2019         1  1001425  ...       상권축소          280            0

[4488 rows x 11 columns]

In [ ]:
new_doc = pd.merge(new1_doc,new11_doc, on=['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'], how='outer')
new_doc

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2019         1  1000001  ...       상권확장         88.0         57.0
1        2019         1  1000002  ...       상권축소        116.0         47.0
2        2019         1  1000003  ...         정체        113.0         56.0
3        2019         1  1000004  ...       상권확장         88.0         57.0
4        2019         1  1000005  ...       다이나믹         85.0         51.0
...       ...       ...      ...  ...        ...          ...          ...
4486     2019         3  1001495  ...       다이나믹        101.0         53.0
4487     2019         3  1001496  ...         정체        116.0         61.0
4488     2019         3  1001494  ...         정체        150.0         71.0
4489     2019         2  1001494  ...         정체        148.0         71.0
4490     2019         1  1001494  ...         정체        147.0         70.0

[4491 rows x 17 columns]

In [ ]:
new_doc = new_doc.set_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])

In [ ]:
# 완성된 데이터 저장

In [ ]:
new_doc.to_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/data2019.csv")