<a href="https://colab.research.google.com/github/Jeongyoon-Jang/covid19_data_analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC(2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# 데이터 불러와서 필요한 변수 뽑기

In [ ]:
df1_1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/서울시 우리마을가게 상권분석서비스(상권-점포).csv", encoding='CP949')
df1_1

        기준_년_코드  기준_분기_코드 상권_구분_코드  ... 유사_업종_점포_수  개업_점포_수 폐업_점포_수
0          2020         3        U  ...          8        0       0
1          2020         3        U  ...          1        0       0
2          2020         3        U  ...          9        0       0
3          2020         3        U  ...          0        0       0
4          2020         3        U  ...         10        0       0
...         ...       ...      ...  ...        ...      ...     ...
276988     2020         1        A  ...          4        0       0
276989     2020         1        A  ...          3        0       0
276990     2020         1        A  ...          3        0       0
276991     2020         1        A  ...          1        0       0
276992     2020         1        A  ...         19        0       1

[276993 rows x 12 columns]

In [ ]:
df1_0 = df1_1[['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명','점포_수','개업_점포_수','폐업_점포_수']]
df1_0

        기준_년_코드  기준_분기_코드    상권_코드      상권_코드_명  점포_수  개업_점포_수  폐업_점포_수
0          2020         3  1001496  강남 마이스 관광특구     8        0        0
1          2020         3  1001496  강남 마이스 관광특구     1        0        0
2          2020         3  1001496  강남 마이스 관광특구     9        0        0
3          2020         3  1001496  강남 마이스 관광특구     0        0        0
4          2020         3  1001496  강남 마이스 관광특구    10        0        0
...         ...       ...      ...          ...   ...      ...      ...
276988     2020         1  1000001          계동길     2        0        0
276989     2020         1  1000001          계동길     3        0        0
276990     2020         1  1000001          계동길     3        0        0
276991     2020         1  1000001          계동길     0        0        0
276992     2020         1  1000001          계동길    19        0        1

[276993 rows x 7 columns]

In [ ]:
df1_2 = df1_0.groupby(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명']).sum()
df1_2

                                                  점포_수  개업_점포_수  폐업_점포_수
기준_년_코드 기준_분기_코드 상권_코드   상권_코드_명
2020    1        1000001 계동길                       197        3       11
                 1000002 난계로27길                    120        2        4
                 1000003 돈화문로11가길                  302        9        7
                 1000004 명륜길                        80        3        4
                 1000005 백석동길                       73        2        4
...                                                ...      ...      ...
        3        1001492 명동 남대문 북창동 다동 무교동 관광특구   8693      106      257
                 1001493 동대문패션타운 관광특구            13005       64      431
                 1001494 종로?청계 관광특구               5235       78      128
                 1001495 잠실 관광특구                  2241       47       63
                 1001496 강남 마이스 관광특구               872        7       26

[4488 rows x 3 columns]

In [ ]:
df1_2 = df1_2.reset_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])
df1_2

      기준_년_코드  기준_분기_코드    상권_코드  ...   점포_수  개업_점포_수  폐업_점포_수
0        2020         1  1000001  ...    197        3       11
1        2020         1  1000002  ...    120        2        4
2        2020         1  1000003  ...    302        9        7
3        2020         1  1000004  ...     80        3        4
4        2020         1  1000005  ...     73        2        4
...       ...       ...      ...  ...    ...      ...      ...
4483     2020         3  1001492  ...   8693      106      257
4484     2020         3  1001493  ...  13005       64      431
4485     2020         3  1001494  ...   5235       78      128
4486     2020         3  1001495  ...   2241       47       63
4487     2020         3  1001496  ...    872        7       26

[4488 rows x 7 columns]

In [ ]:
df2_1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/서울시 우리마을가게 상권분석서비스(상권-추정매출).csv", encoding='CP949')
df2_1

       기준_년_코드  기준_분기_코드 상권_구분_코드  ... 연령대_50_매출_건수  연령대_60_이상_매출_건수 점포수
0         2020         3        U  ...            5               15   8
1         2020         3        U  ...          928              435   8
2         2020         3        U  ...         1374             2292   6
3         2020         3        U  ...          613              597   6
4         2020         3        U  ...         6905             2321   6
...        ...       ...      ...  ...          ...              ...  ..
99549     2020         1        A  ...         4351             2989   4
99550     2020         1        A  ...          325              157   3
99551     2020         1        A  ...          314              162   3
99552     2020         1        A  ...           96               69   1
99553     2020         1        A  ...         2614             1690  19

[99554 rows x 80 columns]

In [ ]:
df2_0 = df2_1[['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명','당월_매출_금액','당월_매출_건수']]
df2_0

       기준_년_코드  기준_분기_코드    상권_코드      상권_코드_명      당월_매출_금액  당월_매출_건수
0         2020         3  1001496  강남 마이스 관광특구  1.326503e+07       277
1         2020         3  1001496  강남 마이스 관광특구  1.703213e+09      7224
2         2020         3  1001496  강남 마이스 관광특구  8.238591e+09      5286
3         2020         3  1001496  강남 마이스 관광특구  3.308578e+08      8031
4         2020         3  1001496  강남 마이스 관광특구  1.913032e+09     66441
...        ...       ...      ...          ...           ...       ...
99549     2020         1  1000001          계동길  2.578141e+08     27092
99550     2020         1  1000001          계동길  1.567283e+08      3589
99551     2020         1  1000001          계동길  5.548487e+07      1272
99552     2020         1  1000001          계동길  2.576716e+07      1413
99553     2020         1  1000001          계동길  4.314425e+08     18548

[99554 rows x 6 columns]

In [ ]:
df2_2 = df2_0.groupby(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명']).sum()
df2_2

                                                     당월_매출_금액  당월_매출_건수
기준_년_코드 기준_분기_코드 상권_코드   상권_코드_명
2020    1        1000001 계동길                     5.560254e+09    267147
                 1000002 난계로27길                  3.068686e+09    187049
                 1000003 돈화문로11가길                7.720079e+09    345988
                 1000004 명륜길                     2.342075e+09    260189
                 1000005 백석동길                    2.789946e+09     85401
...                                                       ...       ...
        3        1001492 명동 남대문 북창동 다동 무교동 관광특구  3.178023e+11  12461009
                 1001493 동대문패션타운 관광특구            2.075928e+11   8255154
                 1001494 종로?청계 관광특구              2.242585e+11   6347857
                 1001495 잠실 관광특구                 1.636661e+11   5797609
                 1001496 강남 마이스 관광특구             1.593962e+11   3812231

[4455 rows x 2 columns]

In [ ]:
df2_2 = df2_2.reset_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])
df2_2

      기준_년_코드  기준_분기_코드  ...      당월_매출_금액  당월_매출_건수
0        2020         1  ...  5.560254e+09    267147
1        2020         1  ...  3.068686e+09    187049
2        2020         1  ...  7.720079e+09    345988
3        2020         1  ...  2.342075e+09    260189
4        2020         1  ...  2.789946e+09     85401
...       ...       ...  ...           ...       ...
4450     2020         3  ...  3.178023e+11  12461009
4451     2020         3  ...  2.075928e+11   8255154
4452     2020         3  ...  2.242585e+11   6347857
4453     2020         3  ...  1.636661e+11   5797609
4454     2020         3  ...  1.593962e+11   3812231

[4455 rows x 6 columns]

In [ ]:
df3_1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/서울시 우리마을가게 상권분석서비스(상권-추정유동인구).csv", encoding='CP949')
df3_1.head()

   기준_년_코드  기준_분기_코드  ... 여성연령대_60_이상_일요일시간대_5_유동인구_수 여성연령대_60_이상_일요일시간대_6_유동인구_수
0     2020         3  ...                         106                          35
1     2020         3  ...                        6617                        3921
2     2020         3  ...                        6251                        4028
3     2020         3  ...                        4932                        4310
4     2020         3  ...                        3106                        1144

[5 rows x 532 columns]

In [ ]:
is_2020 = df3_1['기준_년_코드'] == 2020
df3 = df3_1[is_2020]
df3

      기준_년_코드  ...  여성연령대_60_이상_일요일시간대_6_유동인구_수
0        2020  ...                           35
1        2020  ...                         3921
2        2020  ...                         4028
3        2020  ...                         4310
4        2020  ...                         1144
...       ...  ...                          ...
4480     2020  ...                          606
4481     2020  ...                         1652
4482     2020  ...                          229
4483     2020  ...                          512
4484     2020  ...                          675

[4485 rows x 532 columns]

In [ ]:
df3_0 = df3[['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명','총_유동인구_수']]
df3_0

      기준_년_코드  기준_분기_코드    상권_코드                 상권_코드_명  총_유동인구_수
0        2020         3  1001496             강남 마이스 관광특구     97662
1        2020         3  1001495                 잠실 관광특구   2998786
2        2020         3  1001494              종로?청계 관광특구   3815342
3        2020         3  1001493            동대문패션타운 관광특구   3023573
4        2020         3  1001492  명동 남대문 북창동 다동 무교동 관광특구   3679541
...       ...       ...      ...                     ...       ...
4480     2020         1  1000005                    백석동길    178717
4481     2020         1  1000004                     명륜길    623119
4482     2020         1  1000003                돈화문로11가길    178244
4483     2020         1  1000002                  난계로27길    347131
4484     2020         1  1000001                     계동길    336343

[4485 rows x 5 columns]

In [ ]:
# 중간 과정: 변수 합치기

In [ ]:
new0_df = pd.merge(df3_0,df2_2, on=['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'], how='outer')
new0_df

      기준_년_코드  기준_분기_코드    상권_코드  ... 총_유동인구_수      당월_매출_금액    당월_매출_건수
0        2020         3  1001496  ...    97662  1.593962e+11   3812231.0
1        2020         3  1001495  ...  2998786  1.636661e+11   5797609.0
2        2020         3  1001494  ...  3815342  2.242585e+11   6347857.0
3        2020         3  1001493  ...  3023573  2.075928e+11   8255154.0
4        2020         3  1001492  ...  3679541  3.178023e+11  12461009.0
...       ...       ...      ...  ...      ...           ...         ...
4480     2020         1  1000005  ...   178717  2.789946e+09     85401.0
4481     2020         1  1000004  ...   623119  2.342075e+09    260189.0
4482     2020         1  1000003  ...   178244  7.720079e+09    345988.0
4483     2020         1  1000002  ...   347131  3.068686e+09    187049.0
4484     2020         1  1000001  ...   336343  5.560254e+09    267147.0

[4485 rows x 7 columns]

In [ ]:
new00_df = pd.merge(new0_df,df1_2,on=['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'], how='outer')

In [ ]:
df4_1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/서울시 우리마을가게 상권분석서비스(상권-집객시설).csv", encoding='CP949')
df4_1

       기준_년_코드  기준_분기_코드 상권_구분_코드  ... 버스_터미널_수  지하철_역_수 버스_정거장_수
0         2020         3        A  ...      NaN      NaN      NaN
1         2020         3        A  ...      NaN      NaN      3.0
2         2020         3        A  ...      NaN      NaN      5.0
3         2020         3        A  ...      NaN      NaN      8.0
4         2020         3        A  ...      NaN      NaN      NaN
...        ...       ...      ...  ...      ...      ...      ...
32951     2015         1        A  ...      NaN      NaN      2.0
32952     2015         1        A  ...      NaN      NaN      2.0
32953     2015         1        A  ...      NaN      NaN      3.0
32954     2015         1        A  ...      NaN      NaN      3.0
32955     2015         1        A  ...      NaN      NaN      4.0

[32956 rows x 26 columns]

In [ ]:
is_2020 = df4_1['기준_년_코드'] == 2020
df4 = df4_1[is_2020]
df4

      기준_년_코드  기준_분기_코드 상권_구분_코드  ... 버스_터미널_수  지하철_역_수 버스_정거장_수
0        2020         3        A  ...      NaN      NaN      NaN
1        2020         3        A  ...      NaN      NaN      3.0
2        2020         3        A  ...      NaN      NaN      5.0
3        2020         3        A  ...      NaN      NaN      8.0
4        2020         3        A  ...      NaN      NaN      NaN
...       ...       ...      ...  ...      ...      ...      ...
4381     2020         1        A  ...      NaN      NaN      1.0
4382     2020         1        A  ...      NaN      NaN      5.0
4383     2020         1        D  ...      NaN      NaN      NaN
4384     2020         1        A  ...      NaN      NaN      NaN
4385     2020         1        U  ...      NaN      5.0     39.0

[4386 rows x 26 columns]

In [ ]:
df4_0 = df4[['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명','집객시설_수']]
df4_0

      기준_년_코드  기준_분기_코드    상권_코드     상권_코드_명  집객시설_수
0        2020         3  1000024         창신길       7
1        2020         3  1000025      통일로12길       4
2        2020         3  1000019       종로65길      24
3        2020         3  1000026         평창길      25
4        2020         3  1000027      필운대로1길      19
...       ...       ...      ...         ...     ...
4381     2020         1  1000018      종로58가길      18
4382     2020         1  1000019       종로65길      24
4383     2020         1  1001079         석촌역       6
4384     2020         1  1000929      압구정로2길       7
4385     2020         1  1001494  종로?청계 관광특구     327

[4386 rows x 5 columns]

In [ ]:
df5_1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/서울시 우리마을가게 상권분석서비스(상권-직장인구).csv", encoding='CP949')
df5_1

       기준_년_코드  기준_분기_코드  ... 여성연령대_50_직장_인구_수 여성연령대_60_이상_직장_인구_수
0         2020         3  ...              350                  78
1         2020         3  ...             2217                1152
2         2020         3  ...             2243                 471
3         2020         3  ...              461                 265
4         2020         3  ...             4902                1516
...        ...       ...  ...              ...                 ...
35852     2014         2  ...                2                   0
35853     2014         2  ...                6                   6
35854     2014         2  ...                1                   0
35855     2014         2  ...               83                  52
35856     2014         2  ...               51                  12

[35857 rows x 27 columns]

In [ ]:
is_2020 = df5_1['기준_년_코드'] == 2020
df5 = df5_1[is_2020]
df5

      기준_년_코드  기준_분기_코드  ... 여성연령대_50_직장_인구_수 여성연령대_60_이상_직장_인구_수
0        2020         3  ...              350                  78
1        2020         3  ...             2217                1152
2        2020         3  ...             2243                 471
3        2020         3  ...              461                 265
4        2020         3  ...             4902                1516
...       ...       ...  ...              ...                 ...
4420     2020         1  ...               92                  23
4421     2020         1  ...                9                   1
4422     2020         1  ...              151                  40
4423     2020         1  ...               16                  12
4424     2020         1  ...              116                  61

[4425 rows x 27 columns]

In [ ]:
df5_0 = df5[['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명','총_직장_인구_수']]
df5_0

      기준_년_코드  기준_분기_코드    상권_코드                 상권_코드_명  총_직장_인구_수
0        2020         3  1001496             강남 마이스 관광특구      15904
1        2020         3  1001495                 잠실 관광특구      24375
2        2020         3  1001494              종로?청계 관광특구      32935
3        2020         3  1001493            동대문패션타운 관광특구       6054
4        2020         3  1001492  명동 남대문 북창동 다동 무교동 관광특구     104830
...       ...       ...      ...                     ...        ...
4420     2020         1  1000005                    백석동길       1797
4421     2020         1  1000004                     명륜길         56
4422     2020         1  1000003                돈화문로11가길       3686
4423     2020         1  1000002                  난계로27길        201
4424     2020         1  1000001                     계동길        842

[4425 rows x 5 columns]

In [ ]:
df6_1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/서울시 우리마을가게 상권분석서비스(상권-아파트).csv", encoding='CP949')
df6_1

       기준_년_코드  기준_분기_코드 상권_구분_코드  ... 아파트_가격_6_억_이상_세대_수  아파트_평균_면적  아파트_평균_시가
0         2020         3        U  ...             1156.0         89  527347107
1         2020         2        U  ...             1156.0         89  527347107
2         2020         1        U  ...             1156.0         89  527347107
3         2020         3        U  ...                NaN         39  112097903
4         2020         2        U  ...                NaN         39  112097903
...        ...       ...      ...  ...                ...        ...        ...
34606     2014         3        A  ...                NaN         18   84110417
34607     2014         2        A  ...                NaN         18   84110417
34608     2014         4        A  ...               15.0         69  178270767
34609     2014         3        A  ...               15.0         69  178270767
34610     2014         2        A  ...               15.0         69  178270767

[34611 rows x 21 columns]

In [ ]:
is_2020 = df6_1['기준_년_코드'] == 2020
df6 = df6_1[is_2020]
df6

      기준_년_코드  기준_분기_코드 상권_구분_코드  ... 아파트_가격_6_억_이상_세대_수  아파트_평균_면적  아파트_평균_시가
0        2020         3        U  ...             1156.0         89  527347107
1        2020         2        U  ...             1156.0         89  527347107
2        2020         1        U  ...             1156.0         89  527347107
3        2020         3        U  ...                NaN         39  112097903
4        2020         2        U  ...                NaN         39  112097903
...       ...       ...      ...  ...                ...        ...        ...
4024     2020         2        A  ...                NaN         15   87700490
4025     2020         1        A  ...                NaN         15   87700490
4026     2020         3        A  ...               22.0         69  249322039
4027     2020         2        A  ...               22.0         69  249322039
4028     2020         1        A  ...               22.0         69  249322039

[4029 rows x 21 columns]

In [ ]:
df6_0 = df6[['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명','아파트_단지_수']]
df6_0

      기준_년_코드  기준_분기_코드    상권_코드     상권_코드_명  아파트_단지_수
0        2020         3  1001495     잠실 관광특구        22
1        2020         2  1001495     잠실 관광특구        22
2        2020         1  1001495     잠실 관광특구        22
3        2020         3  1001494  종로?청계 관광특구         5
4        2020         2  1001494  종로?청계 관광특구         5
...       ...       ...      ...         ...       ...
4024     2020         2  1000002      난계로27길         5
4025     2020         1  1000002      난계로27길         5
4026     2020         3  1000001         계동길        26
4027     2020         2  1000001         계동길        26
4028     2020         1  1000001         계동길        26

[4029 rows x 5 columns]

In [ ]:
df7_1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/서울시 우리마을가게 상권분석서비스(상권-상권변화지표).csv", encoding='CP949')
df7_1

       기준_년_코드  기준_분기_코드 상권_구분_코드  ... 폐업_영업_개월_평균  서울_운영_영업_개월_평균 서울_폐업_영업_개월_평균
0         2020         3        U  ...          63             113             54
1         2020         3        U  ...          53             113             54
2         2020         3        U  ...          72             113             54
3         2020         3        U  ...          62             113             54
4         2020         3        U  ...          63             113             54
...        ...       ...      ...  ...         ...             ...            ...
40387     2014         1        A  ...          44              91             44
40388     2014         1        A  ...          55              91             44
40389     2014         1        A  ...          46              91             44
40390     2014         1        A  ...          37              91             44
40391     2014         1        A  ...          53              91             44

[40392 rows x 12 columns]

In [ ]:
is_2020 = df7_1['기준_년_코드'] == 2020
df7 = df7_1[is_2020]
df7

      기준_년_코드  기준_분기_코드 상권_구분_코드  ... 폐업_영업_개월_평균  서울_운영_영업_개월_평균 서울_폐업_영업_개월_평균
0        2020         3        U  ...          63             113             54
1        2020         3        U  ...          53             113             54
2        2020         3        U  ...          72             113             54
3        2020         3        U  ...          62             113             54
4        2020         3        U  ...          63             113             54
...       ...       ...      ...  ...         ...             ...            ...
4483     2020         1        A  ...          50             110             54
4484     2020         1        A  ...          56             110             54
4485     2020         1        A  ...          60             110             54
4486     2020         1        A  ...          48             110             54
4487     2020         1        A  ...          56             110             54

[4488 rows x 12 columns]

In [ ]:
df7_0 = df7[['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명','상권_변화_지표','상권_변화_지표_명','운영_영업_개월_평균','폐업_영업_개월_평균']]
df7_0

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명 운영_영업_개월_평균 폐업_영업_개월_평균
0        2020         3  1001496  ...         정체         123          63
1        2020         3  1001495  ...       다이나믹         106          53
2        2020         3  1001494  ...         정체         150          72
3        2020         3  1001493  ...         정체         126          62
4        2020         3  1001492  ...         정체         152          63
...       ...       ...      ...  ...        ...         ...         ...
4483     2020         1  1000005  ...       다이나믹          90          50
4484     2020         1  1000004  ...       상권확장          81          56
4485     2020         1  1000003  ...         정체         113          60
4486     2020         1  1000002  ...       상권축소         116          48
4487     2020         1  1000001  ...       상권확장          97          56

[4488 rows x 8 columns]

In [ ]:
# 뽑아낸 변수들을 하나의 데이터로 합치기

In [ ]:
new1_df = pd.merge(df4_0,df5_0, on=['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'], how='outer')
new1_df

      기준_년_코드  기준_분기_코드    상권_코드  상권_코드_명  집객시설_수  총_직장_인구_수
0        2020         3  1000024      창신길     7.0      146.0
1        2020         3  1000025   통일로12길     4.0       13.0
2        2020         3  1000019    종로65길    24.0      275.0
3        2020         3  1000026      평창길    25.0     6654.0
4        2020         3  1000027   필운대로1길    19.0      202.0
...       ...       ...      ...      ...     ...        ...
4462     2020         1  1001305   자양종합시장     NaN       14.0
4463     2020         1  1001292  이태원제일시장     NaN        2.0
4464     2020         1  1001269     동문시장     NaN        3.0
4465     2020         1  1000868  사평대로57길     NaN       65.0
4466     2020         1  1000367    도봉산4길     NaN       27.0

[4467 rows x 6 columns]

In [ ]:
new11_df = pd.merge(df6_0,df7_0, on=['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'], how='outer')
new11_df

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균 폐업_영업_개월_평균
0        2020         3  1001495  ...       다이나믹          106          53
1        2020         2  1001495  ...       다이나믹          104          53
2        2020         1  1001495  ...       다이나믹          103          53
3        2020         3  1001494  ...         정체          150          72
4        2020         2  1001494  ...         정체          148          72
...       ...       ...      ...  ...        ...          ...         ...
4483     2020         1  1000083  ...         정체          165          77
4484     2020         1  1000040  ...         정체          162          57
4485     2020         1  1000039  ...         정체          156          62
4486     2020         1  1000017  ...         정체          168          72
4487     2020         1  1000013  ...         정체          116          56

[4488 rows x 9 columns]

In [ ]:
new2_df = pd.merge(new1_df,new11_df, on=['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'], how='outer')
new2_df

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2020         3  1000024  ...         정체          163           75
1        2020         3  1000025  ...         정체          122           87
2        2020         3  1000019  ...       상권축소          133           53
3        2020         3  1000026  ...       상권확장          103           67
4        2020         3  1000027  ...       다이나믹           76           50
...       ...       ...      ...  ...        ...          ...          ...
4483     2020         3  1001401  ...       상권축소          159           51
4484     2020         2  1001434  ...         정체          187          103
4485     2020         2  1001401  ...       상권축소          156           51
4486     2020         1  1001434  ...         정체          184          103
4487     2020         1  1001401  ...       상권축소          153           51

[4488 rows x 11 columns]

In [ ]:
new_df = pd.merge(new00_df,new2_df, on=['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'], how='outer')
new_df

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2020         3  1001496  ...         정체          123           63
1        2020         3  1001495  ...       다이나믹          106           53
2        2020         3  1001494  ...         정체          150           72
3        2020         3  1001493  ...         정체          126           62
4        2020         3  1001492  ...         정체          152           63
...       ...       ...      ...  ...        ...          ...          ...
4483     2020         1  1000002  ...       상권축소          116           48
4484     2020         1  1000001  ...       상권확장           97           56
4485     2020         1  1001278  ...         정체          116           94
4486     2020         2  1001278  ...         정체          119           94
4487     2020         3  1001278  ...         정체          122           94

[4488 rows x 17 columns]

In [ ]:
new_df = new_df.set_index(['기준_년_코드','기준_분기_코드','상권_코드','상권_코드_명'])
new_df

                                                  총_유동인구_수  ...  폐업_영업_개월_평균
기준_년_코드 기준_분기_코드 상권_코드   상권_코드_명                            ...
2020    3        1001496 강남 마이스 관광특구               97662.0  ...           63
                 1001495 잠실 관광특구                 2998786.0  ...           53
                 1001494 종로?청계 관광특구              3815342.0  ...           72
                 1001493 동대문패션타운 관광특구            3023573.0  ...           62
                 1001492 명동 남대문 북창동 다동 무교동 관광특구  3679541.0  ...           63
...                                                    ...  ...          ...
        1        1000002 난계로27길                   347131.0  ...           48
                 1000001 계동길                      336343.0  ...           56
                 1001278 남평화시장                         NaN  ...           94
        2        1001278 남평화시장                         NaN  ...           94
        3        1001278 남평화시장                         NaN  ...           94

[4488 rows x 13 columns]

In [ ]:
# 완성된 데이터 저장

In [ ]:
new_df.to_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/data2020.csv")